body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.box {
    min-width: 32px;
    height: 32px;
    border: 1px solid blue;
}

.row {
    height: 32px;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: 1px solid red;
    justify-content: center;
}

.hover {
    background-color: grey;
}