body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 32px;
    height: 32px;
    border: 1px solid blue;
}

.row {
    height: 32px;
    border: 1px solid purple;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 512px;
    width: 512px;
    border: 1px solid red;
}